.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.audio{
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}

.input{
    position: fixed;
    right: 10px;
    font-weight: bold;

}

.block{
    width: 1000px;
    height: 85px;
}

.cell{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 0;
}