.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 100px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.audio{
    position: fixed;
    right: 20px;
    bottom: 90px;
    width: calc(50% - 20px);
}
.audioSection{
    /*position: fixed;*/
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
}

.input{
    position: fixed;
    left: 20px;
    bottom: 90px;
    font-weight: bold;
    font-size: large;
    padding: 0;
    width: calc(50% - 20px);
}

.block{
    width: 1000px;
    height: 85px;
}

.cell{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 0;
}