.settings{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 60px;
    width: 30%;
}

.a{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.choose{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}